.pokedex__container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    .pokedex {
        display: flex;
        position: relative;
        margin: 0 2% 0 2%;
        max-width: 96%;
        height: 100%;
    }

    .pokedex__img {
        width: 100%;
    }

    .pokedexarrow__container {
        position: absolute;
        display: flex;
        -moz-transform: skew(-3.4deg, -0.8deg);
        -webkit-transform: skew(-3.4deg, -0.8deg);
        -o-transform: skew(-3.4deg, -0.8deg);
        -ms-transform: skew(-3.4deg, -0.8deg);
        transform: skew(-3.4deg, -0.8deg);
        top: 16%;
        right: 28%;
    }

    .pokedexarrow__container--foward, .pokedexarrow__container--backward  {
        position: relative;
        grid-template-columns: 1fr 1fr;
        left: 100%;
        width: 100%;
    }

    .pokedexarrow__container--backward {
        transform: rotateZ(180deg);
        left: -9%;
    }

    .searchbar__container {
        position: absolute;
        grid-template-columns: 1fr 1fr;
        -moz-transform: skew(-3.4deg, -0.6deg);
        -webkit-transform: skew(-3.4deg, -0.6deg);
        -o-transform: skew(-3.4deg, -0.6deg);
        -ms-transform: skew(-3.4deg, -0.6deg);
        transform: skew(-3.4deg, -0.6deg);
        top: 28%;
        left: 9.5%;
        width: 75%;
    }

    .pkms__container {
        position: absolute;
        top: 35%;
        left: 11%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-transform: skew(-3.2deg, -0.8deg);
        -webkit-transform: skew(-3.2deg, -0.8deg);
        -o-transform: skew(-3.2deg, -0.8deg);
        -ms-transform: skew(-3.2deg, -0.8deg);
        transform: skew(-3.4deg, -0.8deg);
        background-color: white;
        width: var(--size);
        height: 275px;
        border: 1px solid #000;
        // width: 100%;
    } 

    .pkm__container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        border: 1px solid #000;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: rgb(188, 188, 188);
        }
    }
    .pkm__img {
        height: 90px;
    }

}
